{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>basic app</title>
    {{ block "css" . }} {{ end }}
  </head>
  <body>
    {{block "content" .}} {{ end }} {{ block "js" . }} {{ end }}
  </body>
</html>
{{ end }}
